body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 40px;
}


h1 {
    margin-bottom: 10px;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}

/* Card-ul principal */
.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 500px;
}


#inputActivitate {
    width: 70%;
    padding: 8px;
    box-sizing: border-box;
}

#btnAdauga {
    padding: 9px 12px;
    margin-left: 5px;
    cursor: pointer;
}

#listaActivitati {
    list-style-type: disc;
    margin-top: 20px;
    padding-left: 20px;
}

#listaActivitati li {
    margin-bottom: 8px;
}
